# URI to use to connect to the database
# If you change the
#   - username
#   - password
#   - port
#   - database name
# make sure to update this
POSTGRES_URI=postgresql://cabbage-scout-admin:YOUR_PASSWORD_GOES_HERE@database:5432/cabbage-scout-2020

# optional things

# If you do not provide this some endpoints will NOT work
# uncomment and add tba api auth key
# X-TBA-Auth-Key=YOUR-TBA-AUTH-KEY
