# Development requirements
# Do not use this, install from requirements.txt

# Do not add starlette or pydantic:
#   Get version required by fastapi to avoid conflicts
fastapi

aiofiles
ujson
uvicorn

# not on windows, optional deps
uvloop
