# Development requirements
# Do not use this, install from requirements.txt

# Do not add starlette or pydantic:
#   Get version required by fastapi to avoid conflicts
aiohttp
asyncpg
fastapi
uvicorn
